<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Driver Registration</title>
</head>
<body>
<form action="/driver/registering" method="post">
    Username:<input type="text" name="u_name">
    Name:<input type="text" name="name">
    Password:<input type="password" name="password">
    Email:<input type="email" name="email">
    PhoneNo:<input type="number" name="phone_no">
    LicenseNo:<input type="text" name="license_no">
    <input type="submit" name="register">
</form>

</body>
</html>